@page "/catgame"
<p>Push start and get the cat to the ball :)</p>
<hr class="solid">
<iframe src="https://astronomyara.com/CatMaze/index.html" width="900" height="600" style="border: none"></iframe>
@code {

}
