@page "/datastructures"
<h3>DataStructures</h3>
@inherits DataStructuresBase

@foreach (var Item in model)
{
    <div class="card m-3" style="min-width: 18rem; max-width:30.5%; float:left;">
        <div class="card-header">
            <h3>@Item.Name</h3>
        </div>
        <img class="card-img-top imageThumbnail" style="height:300px;" src="@Item.Photo" />
        <div class="card-footer text-center">
            <button @onclick="(() => Show(Item.Photo))" class="btn btn-primary m-1">View</button>

            <a href="#" class="btn btn-primary m-1">Edit</a>

            <a href="#" class="btn btn-danger m-1">Delete</a>
        </div>
    </div>
}
<hr class="solid"/>
<div style="@showcode">
    <img src="@photoPath" style="max-width:500px"  />
</div>

@code {
    public string showcode = "display:non";
    public string photoPath = "";
    public void Show(string path)
    {
        showcode = "display:flex";
        photoPath = path;
    }


}
