@page "/embededmap"
<h3>EmbededMap</h3>
<h5>U gornjem lijevom kutu stisni za izbornik markiranih podrucija, u gornjem desnom za fullscreen</h5>
<h5>(Upper left for the menu, upper right for fullscreen)</h5>
<iframe src="https://www.google.com/maps/d/embed?mid=1IHIhE-cu6ozmyqyE7sUs22WOFoaPdyNu" width="1024" height="600"></iframe>

@code {

}
