@page "/"

<h1>My code toybox!</h1>
<h5>* Code on display here is made to have an optimal time and space complexity (big O) *</h5>
<p><strong>Examples :</strong></p>
<hr class="solid">
<div style="display:flex;flex-wrap:wrap; justify-content: center;">
    <div class="card m-3" style="min-width: 18rem; max-width:25.5%; ">
        <div class="card-header">
            <a>ThreeSum</a>
        </div>
        <img class="card-img-top imageThumbnail" style="height:300px;" src="img/ThreeSum.PNG" />
        <div class="card-footer text-center">
            <a href="/threesum"
               class="btn btn-primary m-1">View</a>
        </div>
    </div>
    <div class="card m-3" style="min-width: 18rem; max-width:25.5%; ">
        <div class="card-header">
            <a>TwoSum</a>
        </div>
        <img class="card-img-top imageThumbnail" style="height:300px;" src="img/TwoSum.PNG" />
        <div class="card-footer text-center">
            <a href="/arraytwosum"
               class="btn btn-primary m-1">View</a>
        </div>
    </div>

    <div class="card m-3" style="        min-width: 18rem;
        max-width: 25.5%;">
        <div class="card-header">
            <a>PlusOne</a>
        </div>
        <img class="card-img-top imageThumbnail" style="height:300px;" src="img/PlusOne.PNG" />
        <div class="card-footer text-center">
            <a href="/plusone"
               class="btn btn-primary m-1">View</a>
        </div>
    </div>


</div>
@code
{
    //[Parameter]
    //public string titles { get; set; } = "Enter text";



}
