@page "/plusone"
<h3>PlusOne</h3>
<p>TASK : increment the last digit of the array</p>
<hr class="solid">
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <a>INPUT = { 1, 2, 3 }</a>

        <hr class="solid">
        <button class="btn btn-primary" @onclick="plusone">Run Code</button>
        <hr class="solid">
        <p>OUTPUT :</p>
        <p><strong>@num</strong></p>
        <hr class="solid">

        <button class="btn btn-primary" @onclick="Show">Show Code</button>
        <div style="@showcode">
            <img src="img/PlusOne.PNG" alt="Image">
        </div>
    </div>
</div>
@code {

    public string showcode = "display:none";
    public void Show()
    {
        showcode = "display:flex";
    }

    int[] digits = { 1, 2, 3 };

    string num;

    public void plusone()
    {
        int index = digits.Length - 1;
        while (index >= 0 && digits[index] == 9)
        {
            index--;
        }
        if (index < 0)
        {
            int[] res = new int[digits.Length + 1];
            res[0] = 1;
        }
        else
        {
            digits[index++]++;
            while (index < digits.Length)
            {
                digits[index++] = 0;
            }
        }
        foreach (var item in digits)
        {
            num = num + item + " ";
        }
    }
}
