<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ToyBox</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass navbar navbar-light"  @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" style="color:white" @onclick="()=>expandSubNavString = !expandSubNavString">
                <span class="oi oi-list-rich" style="color:white" aria-hidden="true"></span> Strings
            </NavLink>
        </li>
        @if (expandSubNavString)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="goatlatin">
                    <span class="oi oi-plus" aria-hidden="true"></span> Goat Latin
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="stringreverse">
                    <span class="oi oi-plus" aria-hidden="true"></span> StringReverse
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="logestsubstring">
                    <span class="oi oi-plus" aria-hidden="true"></span> LongestSubString
                </NavLink>
            </li>
        }

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" style="color:white" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-list-rich" style="color:white" aria-hidden="true"></span> DataStructures
            </NavLink>
        </li>
        @if (expandSubNav)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="arrayremoveduplicates">
                    <span class="oi oi-plus" aria-hidden="true"></span> RemoveDuplicate
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="datastructures">
                    <span class="oi oi-plus" aria-hidden="true"></span> DFS & BFS
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="plusone">
                    <span class="oi oi-plus" aria-hidden="true"></span> PlusOne
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="arraymovezeroes">
                    <span class="oi oi-plus" aria-hidden="true"></span> MoveZeroes
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="arraytwosum">
                    <span class="oi oi-plus" aria-hidden="true"></span> TwoSum
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="rotatearray">
                    <span class="oi oi-plus" aria-hidden="true"></span> RotateArray
                </NavLink>
            </li>
        }

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" style="color:white" @onclick="()=>expandSubNavStringAlgo = !expandSubNavStringAlgo">
                <span class="oi oi-list-rich" style="color:white" aria-hidden="true"></span> Algorithms
            </NavLink>
        </li>
        @if (expandSubNavStringAlgo)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="threesum">
                    <span class="oi oi-plus" aria-hidden="true"></span> ThreeSum
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="uglynumber">
                    <span class="oi oi-plus" aria-hidden="true"></span> Ugly number
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="findnumber">
                    <span class="oi oi-plus" aria-hidden="true"></span> Find number
                </NavLink>
            </li>

        }

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" style="color:white" @onclick="()=>expandSubNavBlazor = !expandSubNavBlazor">
                <span class="oi oi-list-rich" style="color:white" aria-hidden="true"></span> Blazor
            </NavLink>
        </li>
        @if (expandSubNavBlazor)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="attributesplatting">
                    <span class="oi oi-plus" aria-hidden="true"></span> AttributeSplatting
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" style="color:white" @onclick="()=>expandSubNavBlazorMaps = !expandSubNavBlazorMaps">
                    <span class="oi oi-list-rich" style="color:white" aria-hidden="true"></span> Blazor: Maps
                </NavLink>
            </li>
            @if (expandSubNavBlazorMaps)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="embededmap">
                        <span class="oi oi-plus" aria-hidden="true"></span> Maps Google
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="maps">
                        <span class="oi oi-plus" aria-hidden="true"></span> Maps Example
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="mapInfoWindow">
                        <span class="oi oi-plus" aria-hidden="true"></span> Maps Marker
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="embededmapbing">
                        <span class="oi oi-plus" aria-hidden="true"></span> Maps Bing
                    </NavLink>
                </li>

            }

        }

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" style="color:white" @onclick="()=>expandSubNavBlazorAI = !expandSubNavBlazorAI">
                <span class="oi oi-list-rich" style="color:white" aria-hidden="true"></span> AI
            </NavLink>
        </li>
        @if (expandSubNavBlazorAI)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="textai">
                    <span class="oi oi-plus" aria-hidden="true"></span> NLP AI
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="bitcoinsentimentai">
                    <span class="oi oi-plus" aria-hidden="true"></span> BTC SA AI
                </NavLink>
            </li>

            @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="sentimentai">
                    <span class="oi oi-plus" aria-hidden="true"></span> Sentiment AI
                </NavLink>
            </li>*@
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" style="color:white" @onclick="()=>expandSubNavBlazorCat = !expandSubNavBlazorCat">
                <span class="oi oi-list-rich" style="color:white" aria-hidden="true"></span> Games
            </NavLink>
        </li>
        @if (expandSubNavBlazorCat)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="catgame">
                    <span class="oi oi-plus" aria-hidden="true"></span> Cat Maze
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="bullsandcows">
                    <span class="oi oi-plus" aria-hidden="true"></span> Bulls And Cows
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool expandSubNavBlazorCat;
    private bool expandSubNavBlazorAI;
    private bool expandSubNavBlazorMaps;
    private bool expandSubNavBlazor;
    private bool expandSubNav;
    private bool expandSubNavString;
    private bool expandSubNavStringAlgo;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
